:root{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:  #A5BFCC;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

.sideNav{
    background-color:#7E99A3;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s ease-out;
    padding-top: 50px;
    transform: scaleX(0);
    transform-origin: top left;
}

.closeNav{
    position: absolute;
    left: 260px;
    top: 7px;
    cursor: pointer;
}

.adder{
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.userInput{
    display: grid;
    gap: 35px;
    padding: 0 30px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
}

.bookTitle,.bookAuthor,.bookPages,.readStatus,.bookCover,.answerBtns{
    display: grid;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

#bookTitle,#bookAuthor,#bookPages{
    height: 24px;
    font-size: 18px;
}

#bookTitle:focus,#bookAuthor:focus,#bookPages:focus{
    outline: none;
}

.card{
    height: 380px;
    display: grid;
    grid-template-rows: 1fr auto ;
    border: 5px solid#F4EDD3;
    background-color: #7e99a35d;
    padding: auto;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);

    & .bookSleeve img{
        transform: scale(1.1);
    }
}

.bookSleeve{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}

.bookSleeve img{
    border: 3px solid#F4EDD3;
    transition: 0.5s ease-in-out;
}

.cardContent{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 0 5px 5px 5px;
    grid-auto-rows: max-content;
}

#bookWhat,#bookWho{
    margin: 0;
    font-weight: 600;
}

#bookWhat{
    font-size: 24px;
}

#bookWho{
    font-size: 20px;
}

#bookHow{
    margin: 0;
    font-size: 16px;
}

.removeBtn{
    margin-top: 8px;
}

.cardContent svg{
    cursor: pointer;
}

.readCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 18px;
    margin-top: 8px;
}

.readCheck input{
    accent-color: #213448;
    margin: 0 3px;
}

.display{
    transition: margin-left 0.5s ease-out;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}

.coverPhoto{
    width: 140px;
    height: 200px;
}